.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    gap: 10px;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: black;
    background: #DEB881;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.delete-icon {
    margin-right: 5px;
    color: black;
}

.edit-icon {
    color: black;
}